SPIRT/Step_Function/state_machine_definition.json
{
    "Comment": "Lambda execution workflow",
    "StartAt": "Authentification",
    "States": {
        "Authentification": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:736943246631:function:auth",
            "Parameters": {
                "waiting_queue.$": "$$.Execution.Input.waiting_queue",
                "password_queue.$": "$$.Execution.Input.password_queue",
                "username.$": "$$.Execution.Input.username",
                "ec2_ip.$": "$$.Execution.Input.ec2_ip",
                "port.$": "$$.Execution.Input.port",
                "password.$": "$$.Execution.Input.password",
                "path_key.$": "$$.Execution.Input.path_key"
            },
            "Next": "ComputeGradients"
        },
        "ComputeGradients": {
            "Type": "Parallel",
            "Branches": [
                {
                    "StartAt": "Batch1",
                    "States": {
                        "Batch1": {
                            "Type": "Task",
                            "Resource": "arn:aws:lambda:us-east-1:736943246631:function:compute_gradients",
                            "Parameters": {
                                "rank.$": "$$.Execution.Input.rank",
                                "size.$": "$$.Execution.Input.size",
                                "batch_rank.$": "$$.Execution.Input.batch_rank[0]",
                                "ec2_ip.$": "$$.Execution.Input.ec2_ip",
                                "port.$": "$$.Execution.Input.port",
                                "dataset.$": "$$.Execution.Input.dataset",
                                "model_str.$": "$$.Execution.Input.model_str",
                                "optimiser.$": "$$.Execution.Input.optimiser",
                                "optimiser_lr.$": "$$.Execution.Input.optimiser_lr",
                                "loss.$": "$$.Execution.Input.loss",
                                "username.$": "$$.Execution.Input.username",
                                "password.$": "$$.Execution.Input.password",
                                "path_key.$": "$$.Execution.Input.path_key",
                                "num_batches.$": "$$.Execution.Input.num_batches",
                                "num_peers.$": "$$.Execution.Input.num_peers",
                                "epoch.$": "$$.Execution.Input.epoch",
                                "attack.$": "$$.Execution.Input.attack"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Batch2",
                    "States": {
                        "Batch2": {
                            "Type": "Task",
                            "Resource": "arn:aws:lambda:us-east-1:736943246631:function:compute_gradients",
                            "Parameters": {
                                "rank.$": "$$.Execution.Input.rank",
                                "size.$": "$$.Execution.Input.size",
                                "batch_rank.$": "$$.Execution.Input.batch_rank[1]",
                                "ec2_ip.$": "$$.Execution.Input.ec2_ip",
                                "port.$": "$$.Execution.Input.port",
                                "dataset.$": "$$.Execution.Input.dataset",
                                "model_str.$": "$$.Execution.Input.model_str",
                                "optimiser.$": "$$.Execution.Input.optimiser",
                                "optimiser_lr.$": "$$.Execution.Input.optimiser_lr",
                                "loss.$": "$$.Execution.Input.loss",
                                "username.$": "$$.Execution.Input.username",
                                "password.$": "$$.Execution.Input.password",
                                "path_key.$": "$$.Execution.Input.path_key",
                                "num_batches.$": "$$.Execution.Input.num_batches",
                                "num_peers.$": "$$.Execution.Input.num_peers",
                                "epoch.$": "$$.Execution.Input.epoch",
                                "attack.$": "$$.Execution.Input.attack"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Batch3",
                    "States": {
                        "Batch3": {
                            "Type": "Task",
                            "Resource": "arn:aws:lambda:us-east-1:736943246631:function:compute_gradients",
                            "Parameters": {
                                "rank.$": "$$.Execution.Input.rank",
                                "size.$": "$$.Execution.Input.size",
                                "batch_rank.$": "$$.Execution.Input.batch_rank[2]",
                                "ec2_ip.$": "$$.Execution.Input.ec2_ip",
                                "port.$": "$$.Execution.Input.port",
                                "dataset.$": "$$.Execution.Input.dataset",
                                "model_str.$": "$$.Execution.Input.model_str",
                                "optimiser.$": "$$.Execution.Input.optimiser",
                                "optimiser_lr.$": "$$.Execution.Input.optimiser_lr",
                                "loss.$": "$$.Execution.Input.loss",
                                "username.$": "$$.Execution.Input.username",
                                "password.$": "$$.Execution.Input.password",
                                "path_key.$": "$$.Execution.Input.path_key",
                                "num_batches.$": "$$.Execution.Input.num_batches",
                                "num_peers.$": "$$.Execution.Input.num_peers",
                                "epoch.$": "$$.Execution.Input.epoch",
                                "attack.$": "$$.Execution.Input.attack"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Batch4",
                    "States": {
                        "Batch4": {
                            "Type": "Task",
                            "Resource": "arn:aws:lambda:us-east-1:736943246631:function:compute_gradients",
                            "Parameters": {
                                "rank.$": "$$.Execution.Input.rank",
                                "size.$": "$$.Execution.Input.size",
                                "batch_rank.$": "$$.Execution.Input.batch_rank[3]",
                                "ec2_ip.$": "$$.Execution.Input.ec2_ip",
                                "port.$": "$$.Execution.Input.port",
                                "dataset.$": "$$.Execution.Input.dataset",
                                "model_str.$": "$$.Execution.Input.model_str",
                                "optimiser.$": "$$.Execution.Input.optimiser",
                                "optimiser_lr.$": "$$.Execution.Input.optimiser_lr",
                                "loss.$": "$$.Execution.Input.loss",
                                "username.$": "$$.Execution.Input.username",
                                "password.$": "$$.Execution.Input.password",
                                "path_key.$": "$$.Execution.Input.path_key",
                                "num_batches.$": "$$.Execution.Input.num_batches",
                                "num_peers.$": "$$.Execution.Input.num_peers",
                                "epoch.$": "$$.Execution.Input.epoch",
                                "attack.$": "$$.Execution.Input.attack"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Batch5",
                    "States": {
                        "Batch5": {
                            "Type": "Task",
                            "Resource": "arn:aws:lambda:us-east-1:736943246631:function:compute_gradients",
                            "Parameters": {
                                "rank.$": "$$.Execution.Input.rank",
                                "size.$": "$$.Execution.Input.size",
                                "batch_rank.$": "$$.Execution.Input.batch_rank[4]",
                                "ec2_ip.$": "$$.Execution.Input.ec2_ip",
                                "port.$": "$$.Execution.Input.port",
                                "dataset.$": "$$.Execution.Input.dataset",
                                "model_str.$": "$$.Execution.Input.model_str",
                                "optimiser.$": "$$.Execution.Input.optimiser",
                                "optimiser_lr.$": "$$.Execution.Input.optimiser_lr",
                                "loss.$": "$$.Execution.Input.loss",
                                "username.$": "$$.Execution.Input.username",
                                "password.$": "$$.Execution.Input.password",
                                "path_key.$": "$$.Execution.Input.path_key",
                                "num_batches.$": "$$.Execution.Input.num_batches",
                                "num_peers.$": "$$.Execution.Input.num_peers",
                                "epoch.$": "$$.Execution.Input.epoch",
                                "attack.$": "$$.Execution.Input.attack"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Batch6",
                    "States": {
                        "Batch6": {
                            "Type": "Task",
                            "Resource": "arn:aws:lambda:us-east-1:736943246631:function:compute_gradients",
                            "Parameters": {
                                "rank.$": "$$.Execution.Input.rank",
                                "size.$": "$$.Execution.Input.size",
                                "batch_rank.$": "$$.Execution.Input.batch_rank[5]",
                                "ec2_ip.$": "$$.Execution.Input.ec2_ip",
                                "port.$": "$$.Execution.Input.port",
                                "dataset.$": "$$.Execution.Input.dataset",
                                "model_str.$": "$$.Execution.Input.model_str",
                                "optimiser.$": "$$.Execution.Input.optimiser",
                                "optimiser_lr.$": "$$.Execution.Input.optimiser_lr",
                                "loss.$": "$$.Execution.Input.loss",
                                "username.$": "$$.Execution.Input.username",
                                "password.$": "$$.Execution.Input.password",
                                "path_key.$": "$$.Execution.Input.path_key",
                                "num_batches.$": "$$.Execution.Input.num_batches",
                                "num_peers.$": "$$.Execution.Input.num_peers",
                                "epoch.$": "$$.Execution.Input.epoch",
                                "attack.$": "$$.Execution.Input.attack"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Batch7",
                    "States": {
                        "Batch7": {
                            "Type": "Task",
                            "Resource": "arn:aws:lambda:us-east-1:736943246631:function:compute_gradients",
                            "Parameters": {
                                "rank.$": "$$.Execution.Input.rank",
                                "size.$": "$$.Execution.Input.size",
                                "batch_rank.$": "$$.Execution.Input.batch_rank[6]",
                                "ec2_ip.$": "$$.Execution.Input.ec2_ip",
                                "port.$": "$$.Execution.Input.port",
                                "dataset.$": "$$.Execution.Input.dataset",
                                "model_str.$": "$$.Execution.Input.model_str",
                                "optimiser.$": "$$.Execution.Input.optimiser",
                                "optimiser_lr.$": "$$.Execution.Input.optimiser_lr",
                                "loss.$": "$$.Execution.Input.loss",
                                "username.$": "$$.Execution.Input.username",
                                "password.$": "$$.Execution.Input.password",
                                "path_key.$": "$$.Execution.Input.path_key",
                                "num_batches.$": "$$.Execution.Input.num_batches",
                                "num_peers.$": "$$.Execution.Input.num_peers",
                                "epoch.$": "$$.Execution.Input.epoch",
                                "attack.$": "$$.Execution.Input.attack"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Batch8",
                    "States": {
                        "Batch8": {
                            "Type": "Task",
                            "Resource": "arn:aws:lambda:us-east-1:736943246631:function:compute_gradients",
                            "Parameters": {
                                "rank.$": "$$.Execution.Input.rank",
                                "size.$": "$$.Execution.Input.size",
                                "batch_rank.$": "$$.Execution.Input.batch_rank[7]",
                                "ec2_ip.$": "$$.Execution.Input.ec2_ip",
                                "port.$": "$$.Execution.Input.port",
                                "dataset.$": "$$.Execution.Input.dataset",
                                "model_str.$": "$$.Execution.Input.model_str",
                                "optimiser.$": "$$.Execution.Input.optimiser",
                                "optimiser_lr.$": "$$.Execution.Input.optimiser_lr",
                                "loss.$": "$$.Execution.Input.loss",
                                "username.$": "$$.Execution.Input.username",
                                "password.$": "$$.Execution.Input.password",
                                "path_key.$": "$$.Execution.Input.path_key",
                                "num_batches.$": "$$.Execution.Input.num_batches",
                                "num_peers.$": "$$.Execution.Input.num_peers",
                                "epoch.$": "$$.Execution.Input.epoch",
                                "attack.$": "$$.Execution.Input.attack"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Batch9",
                    "States": {
                        "Batch9": {
                            "Type": "Task",
                            "Resource": "arn:aws:lambda:us-east-1:736943246631:function:compute_gradients",
                            "Parameters": {
                                "rank.$": "$$.Execution.Input.rank",
                                "size.$": "$$.Execution.Input.size",
                                "batch_rank.$": "$$.Execution.Input.batch_rank[8]",
                                "ec2_ip.$": "$$.Execution.Input.ec2_ip",
                                "port.$": "$$.Execution.Input.port",
                                "dataset.$": "$$.Execution.Input.dataset",
                                "model_str.$": "$$.Execution.Input.model_str",
                                "optimiser.$": "$$.Execution.Input.optimiser",
                                "optimiser_lr.$": "$$.Execution.Input.optimiser_lr",
                                "loss.$": "$$.Execution.Input.loss",
                                "username.$": "$$.Execution.Input.username",
                                "password.$": "$$.Execution.Input.password",
                                "path_key.$": "$$.Execution.Input.path_key",
                                "num_batches.$": "$$.Execution.Input.num_batches",
                                "num_peers.$": "$$.Execution.Input.num_peers",
                                "epoch.$": "$$.Execution.Input.epoch",
                                "attack.$": "$$.Execution.Input.attack"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Batch10",
                    "States": {
                        "Batch10": {
                            "Type": "Task",
                            "Resource": "arn:aws:lambda:us-east-1:736943246631:function:compute_gradients",
                            "Parameters": {
                                "rank.$": "$$.Execution.Input.rank",
                                "size.$": "$$.Execution.Input.size",
                                "batch_rank.$": "$$.Execution.Input.batch_rank[9]",
                                "ec2_ip.$": "$$.Execution.Input.ec2_ip",
                                "port.$": "$$.Execution.Input.port",
                                "dataset.$": "$$.Execution.Input.dataset",
                                "model_str.$": "$$.Execution.Input.model_str",
                                "optimiser.$": "$$.Execution.Input.optimiser",
                                "optimiser_lr.$": "$$.Execution.Input.optimiser_lr",
                                "loss.$": "$$.Execution.Input.loss",
                                "username.$": "$$.Execution.Input.username",
                                "password.$": "$$.Execution.Input.password",
                                "path_key.$": "$$.Execution.Input.path_key",
                                "num_batches.$": "$$.Execution.Input.num_batches",
                                "num_peers.$": "$$.Execution.Input.num_peers",
                                "epoch.$": "$$.Execution.Input.epoch",
                                "attack.$": "$$.Execution.Input.attack"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Batch11",
                    "States": {
                        "Batch11": {
                            "Type": "Task",
                            "Resource": "arn:aws:lambda:us-east-1:736943246631:function:compute_gradients",
                            "Parameters": {
                                "rank.$": "$$.Execution.Input.rank",
                                "size.$": "$$.Execution.Input.size",
                                "batch_rank.$": "$$.Execution.Input.batch_rank[10]",
                                "ec2_ip.$": "$$.Execution.Input.ec2_ip",
                                "port.$": "$$.Execution.Input.port",
                                "dataset.$": "$$.Execution.Input.dataset",
                                "model_str.$": "$$.Execution.Input.model_str",
                                "optimiser.$": "$$.Execution.Input.optimiser",
                                "optimiser_lr.$": "$$.Execution.Input.optimiser_lr",
                                "loss.$": "$$.Execution.Input.loss",
                                "username.$": "$$.Execution.Input.username",
                                "password.$": "$$.Execution.Input.password",
                                "path_key.$": "$$.Execution.Input.path_key",
                                "num_batches.$": "$$.Execution.Input.num_batches",
                                "num_peers.$": "$$.Execution.Input.num_peers",
                                "epoch.$": "$$.Execution.Input.epoch",
                                "attack.$": "$$.Execution.Input.attack"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Batch12",
                    "States": {
                        "Batch12": {
                            "Type": "Task",
                            "Resource": "arn:aws:lambda:us-east-1:736943246631:function:compute_gradients",
                            "Parameters": {
                                "rank.$": "$$.Execution.Input.rank",
                                "size.$": "$$.Execution.Input.size",
                                "batch_rank.$": "$$.Execution.Input.batch_rank[11]",
                                "ec2_ip.$": "$$.Execution.Input.ec2_ip",
                                "port.$": "$$.Execution.Input.port",
                                "dataset.$": "$$.Execution.Input.dataset",
                                "model_str.$": "$$.Execution.Input.model_str",
                                "optimiser.$": "$$.Execution.Input.optimiser",
                                "optimiser_lr.$": "$$.Execution.Input.optimiser_lr",
                                "loss.$": "$$.Execution.Input.loss",
                                "username.$": "$$.Execution.Input.username",
                                "password.$": "$$.Execution.Input.password",
                                "path_key.$": "$$.Execution.Input.path_key",
                                "num_batches.$": "$$.Execution.Input.num_batches",
                                "num_peers.$": "$$.Execution.Input.num_peers",
                                "epoch.$": "$$.Execution.Input.epoch",
                                "attack.$": "$$.Execution.Input.attack"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Batch13",
                    "States": {
                        "Batch13": {
                            "Type": "Task",
                            "Resource": "arn:aws:lambda:us-east-1:736943246631:function:compute_gradients",
                            "Parameters": {
                                "rank.$": "$$.Execution.Input.rank",
                                "size.$": "$$.Execution.Input.size",
                                "batch_rank.$": "$$.Execution.Input.batch_rank[12]",
                                "ec2_ip.$": "$$.Execution.Input.ec2_ip",
                                "port.$": "$$.Execution.Input.port",
                                "dataset.$": "$$.Execution.Input.dataset",
                                "model_str.$": "$$.Execution.Input.model_str",
                                "optimiser.$": "$$.Execution.Input.optimiser",
                                "optimiser_lr.$": "$$.Execution.Input.optimiser_lr",
                                "loss.$": "$$.Execution.Input.loss",
                                "username.$": "$$.Execution.Input.username",
                                "password.$": "$$.Execution.Input.password",
                                "path_key.$": "$$.Execution.Input.path_key",
                                "num_batches.$": "$$.Execution.Input.num_batches",
                                "num_peers.$": "$$.Execution.Input.num_peers",
                                "epoch.$": "$$.Execution.Input.epoch",
                                "attack.$": "$$.Execution.Input.attack"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Batch14",
                    "States": {
                        "Batch14": {
                            "Type": "Task",
                            "Resource": "arn:aws:lambda:us-east-1:736943246631:function:compute_gradients",
                            "Parameters": {
                                "rank.$": "$$.Execution.Input.rank",
                                "size.$": "$$.Execution.Input.size",
                                "batch_rank.$": "$$.Execution.Input.batch_rank[13]",
                                "ec2_ip.$": "$$.Execution.Input.ec2_ip",
                                "port.$": "$$.Execution.Input.port",
                                "dataset.$": "$$.Execution.Input.dataset",
                                "model_str.$": "$$.Execution.Input.model_str",
                                "optimiser.$": "$$.Execution.Input.optimiser",
                                "optimiser_lr.$": "$$.Execution.Input.optimiser_lr",
                                "loss.$": "$$.Execution.Input.loss",
                                "username.$": "$$.Execution.Input.username",
                                "password.$": "$$.Execution.Input.password",
                                "path_key.$": "$$.Execution.Input.path_key",
                                "num_batches.$": "$$.Execution.Input.num_batches",
                                "num_peers.$": "$$.Execution.Input.num_peers",
                                "epoch.$": "$$.Execution.Input.epoch",
                                "attack.$": "$$.Execution.Input.attack"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Batch15",
                    "States": {
                        "Batch15": {
                            "Type": "Task",
                            "Resource": "arn:aws:lambda:us-east-1:736943246631:function:compute_gradients",
                            "Parameters": {
                                "rank.$": "$$.Execution.Input.rank",
                                "size.$": "$$.Execution.Input.size",
                                "batch_rank.$": "$$.Execution.Input.batch_rank[14]",
                                "ec2_ip.$": "$$.Execution.Input.ec2_ip",
                                "port.$": "$$.Execution.Input.port",
                                "dataset.$": "$$.Execution.Input.dataset",
                                "model_str.$": "$$.Execution.Input.model_str",
                                "optimiser.$": "$$.Execution.Input.optimiser",
                                "optimiser_lr.$": "$$.Execution.Input.optimiser_lr",
                                "loss.$": "$$.Execution.Input.loss",
                                "username.$": "$$.Execution.Input.username",
                                "password.$": "$$.Execution.Input.password",
                                "path_key.$": "$$.Execution.Input.path_key",
                                "num_batches.$": "$$.Execution.Input.num_batches",
                                "num_peers.$": "$$.Execution.Input.num_peers",
                                "epoch.$": "$$.Execution.Input.epoch",
                                "attack.$": "$$.Execution.Input.attack"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Batch16",
                    "States": {
                        "Batch16": {
                            "Type": "Task",
                            "Resource": "arn:aws:lambda:us-east-1:736943246631:function:compute_gradients",
                            "Parameters": {
                                "rank.$": "$$.Execution.Input.rank",
                                "size.$": "$$.Execution.Input.size",
                                "batch_rank.$": "$$.Execution.Input.batch_rank[15]",
                                "ec2_ip.$": "$$.Execution.Input.ec2_ip",
                                "port.$": "$$.Execution.Input.port",
                                "dataset.$": "$$.Execution.Input.dataset",
                                "model_str.$": "$$.Execution.Input.model_str",
                                "optimiser.$": "$$.Execution.Input.optimiser",
                                "optimiser_lr.$": "$$.Execution.Input.optimiser_lr",
                                "loss.$": "$$.Execution.Input.loss",
                                "username.$": "$$.Execution.Input.username",
                                "password.$": "$$.Execution.Input.password",
                                "path_key.$": "$$.Execution.Input.path_key",
                                "num_batches.$": "$$.Execution.Input.num_batches",
                                "num_peers.$": "$$.Execution.Input.num_peers",
                                "epoch.$": "$$.Execution.Input.epoch",
                                "attack.$": "$$.Execution.Input.attack"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Batch17",
                    "States": {
                        "Batch17": {
                            "Type": "Task",
                            "Resource": "arn:aws:lambda:us-east-1:736943246631:function:compute_gradients",
                            "Parameters": {
                                "rank.$": "$$.Execution.Input.rank",
                                "size.$": "$$.Execution.Input.size",
                                "batch_rank.$": "$$.Execution.Input.batch_rank[16]",
                                "ec2_ip.$": "$$.Execution.Input.ec2_ip",
                                "port.$": "$$.Execution.Input.port",
                                "dataset.$": "$$.Execution.Input.dataset",
                                "model_str.$": "$$.Execution.Input.model_str",
                                "optimiser.$": "$$.Execution.Input.optimiser",
                                "optimiser_lr.$": "$$.Execution.Input.optimiser_lr",
                                "loss.$": "$$.Execution.Input.loss",
                                "username.$": "$$.Execution.Input.username",
                                "password.$": "$$.Execution.Input.password",
                                "path_key.$": "$$.Execution.Input.path_key",
                                "num_batches.$": "$$.Execution.Input.num_batches",
                                "num_peers.$": "$$.Execution.Input.num_peers",
                                "epoch.$": "$$.Execution.Input.epoch",
                                "attack.$": "$$.Execution.Input.attack"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Batch18",
                    "States": {
                        "Batch18": {
                            "Type": "Task",
                            "Resource": "arn:aws:lambda:us-east-1:736943246631:function:compute_gradients",
                            "Parameters": {
                                "rank.$": "$$.Execution.Input.rank",
                                "size.$": "$$.Execution.Input.size",
                                "batch_rank.$": "$$.Execution.Input.batch_rank[17]",
                                "ec2_ip.$": "$$.Execution.Input.ec2_ip",
                                "port.$": "$$.Execution.Input.port",
                                "dataset.$": "$$.Execution.Input.dataset",
                                "model_str.$": "$$.Execution.Input.model_str",
                                "optimiser.$": "$$.Execution.Input.optimiser",
                                "optimiser_lr.$": "$$.Execution.Input.optimiser_lr",
                                "loss.$": "$$.Execution.Input.loss",
                                "username.$": "$$.Execution.Input.username",
                                "password.$": "$$.Execution.Input.password",
                                "path_key.$": "$$.Execution.Input.path_key",
                                "num_batches.$": "$$.Execution.Input.num_batches",
                                "num_peers.$": "$$.Execution.Input.num_peers",
                                "epoch.$": "$$.Execution.Input.epoch",
                                "attack.$": "$$.Execution.Input.attack"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Batch19",
                    "States": {
                        "Batch19": {
                            "Type": "Task",
                            "Resource": "arn:aws:lambda:us-east-1:736943246631:function:compute_gradients",
                            "Parameters": {
                                "rank.$": "$$.Execution.Input.rank",
                                "size.$": "$$.Execution.Input.size",
                                "batch_rank.$": "$$.Execution.Input.batch_rank[18]",
                                "ec2_ip.$": "$$.Execution.Input.ec2_ip",
                                "port.$": "$$.Execution.Input.port",
                                "dataset.$": "$$.Execution.Input.dataset",
                                "model_str.$": "$$.Execution.Input.model_str",
                                "optimiser.$": "$$.Execution.Input.optimiser",
                                "optimiser_lr.$": "$$.Execution.Input.optimiser_lr",
                                "loss.$": "$$.Execution.Input.loss",
                                "username.$": "$$.Execution.Input.username",
                                "password.$": "$$.Execution.Input.password",
                                "path_key.$": "$$.Execution.Input.path_key",
                                "num_batches.$": "$$.Execution.Input.num_batches",
                                "num_peers.$": "$$.Execution.Input.num_peers",
                                "epoch.$": "$$.Execution.Input.epoch",
                                "attack.$": "$$.Execution.Input.attack"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Batch20",
                    "States": {
                        "Batch20": {
                            "Type": "Task",
                            "Resource": "arn:aws:lambda:us-east-1:736943246631:function:compute_gradients",
                            "Parameters": {
                                "rank.$": "$$.Execution.Input.rank",
                                "size.$": "$$.Execution.Input.size",
                                "batch_rank.$": "$$.Execution.Input.batch_rank[19]",
                                "ec2_ip.$": "$$.Execution.Input.ec2_ip",
                                "port.$": "$$.Execution.Input.port",
                                "dataset.$": "$$.Execution.Input.dataset",
                                "model_str.$": "$$.Execution.Input.model_str",
                                "optimiser.$": "$$.Execution.Input.optimiser",
                                "optimiser_lr.$": "$$.Execution.Input.optimiser_lr",
                                "loss.$": "$$.Execution.Input.loss",
                                "username.$": "$$.Execution.Input.username",
                                "password.$": "$$.Execution.Input.password",
                                "path_key.$": "$$.Execution.Input.path_key",
                                "num_batches.$": "$$.Execution.Input.num_batches",
                                "num_peers.$": "$$.Execution.Input.num_peers",
                                "epoch.$": "$$.Execution.Input.epoch",
                                "attack.$": "$$.Execution.Input.attack"
                            },
                            "End": true
                        }
                    }
                }
            ],
            "Next": "AverageGradients"
        },
        "AverageGradients": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:736943246631:function:Trigger_Average_Gradient_sync",
      "Parameters": {
        "rank.$": "$$.Execution.Input.rank",
        "ec2_ip.$": "$$.Execution.Input.ec2_ip",
        "port.$": "$$.Execution.Input.port",
        "username.$": "$$.Execution.Input.username",
        "password.$": "$$.Execution.Input.password",
        "path_key.$": "$$.Execution.Input.path_key",
        "num_batches.$": "$$.Execution.Input.num_batches",
        "num_peers.$": "$$.Execution.Input.num_peers",
        "epoch.$": "$$.Execution.Input.epoch",
        "attack.$": "$$.Execution.Input.attack"
      },

       "Next": "CheckHeartbeat"
    },
    "CheckHeartbeat": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:736943246631:function:check_heartbeat",
      "Parameters": {
        "username.$": "$$.Execution.Input.username",
        "path_key.$": "$$.Execution.Input.path_key",
        "ec2_ip.$": "$$.Execution.Input.ec2_ip",
        "port.$": "$$.Execution.Input.port",
        "password.$": "$$.Execution.Input.password",
        "epoch.$": "$$.Execution.Input.epoch"
      },
      "Next": "Aggregation"
    },
    "Aggregation": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:736943246631:function:aggregation",
      "Parameters": {
        "ec2_ip.$": "$$.Execution.Input.ec2_ip",
        "password.$": "$$.Execution.Input.password",
        "username.$": "$$.Execution.Input.username",
        "path_key.$": "$$.Execution.Input.path_key",
        "port.$": "$$.Execution.Input.port",
        "epoch.$": "$$.Execution.Input.epoch"
      },
      "Next": "Update"
    },
    "Update": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:736943246631:function:Trigger_update_model",
      "Parameters": {
        "grad_key.$": "$$.Execution.Input.grad_key",
        "param_key.$": "$$.Execution.Input.param_key",
        "ec2_ip.$": "$$.Execution.Input.ec2_ip",
        "port.$": "$$.Execution.Input.port",
        "password.$": "$$.Execution.Input.password",
        "username.$": "$$.Execution.Input.username",
        "path_key.$": "$$.Execution.Input.path_key",
        "epoch.$": "$$.Execution.Input.epoch"
      },
      "Next": "CheckConvergence"
    },
    "CheckConvergence": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:736943246631:function:check-convergence",
      "Parameters": {
        "waiting_queue.$": "$$.Execution.Input.waiting_queue",
        "password_queue.$": "$$.Execution.Input.password_queue",
        "username.$": "$$.Execution.Input.username",
        "ec2_ip.$": "$$.Execution.Input.ec2_ip",
        "port.$": "$$.Execution.Input.port",
        "password.$": "$$.Execution.Input.password",
        "path_key.$": "$$.Execution.Input.path_key",
        "rank.$": "$$.Execution.Input.rank",
        "size.$": "$$.Execution.Input.size",
        "batch_rank.$": "$$.Execution.Input.batch_rank",
        "dataset.$": "$$.Execution.Input.dataset",
        "model_str.$": "$$.Execution.Input.model_str",
        "optimiser.$": "$$.Execution.Input.optimiser",
        "optimiser_lr.$": "$$.Execution.Input.optimiser_lr",
        "loss.$": "$$.Execution.Input.loss",
        "num_batches.$": "$$.Execution.Input.num_batches",
        "num_peers.$": "$$.Execution.Input.num_peers",
        "grad_key.$": "$$.Execution.Input.grad_key",
        "param_key.$": "$$.Execution.Input.param_key",
        "bucket.$": "$$.Execution.Input.bucket",
        "batch_size.$": "$$.Execution.Input.batch_size",
        "epoch.$": "$$.Execution.Input.epoch",
        "attack.$": "$$.Execution.Input.attack"
      },
      "Next": "trigger_next"
      
      
    },
        "trigger_next": {
          "Type": "Task",
          "Resource": "arn:aws:lambda:us-east-1:736943246631:function:Update_Trigger_Next_epoch",
          "Parameters": {
            "grad_key.$": "$$.Execution.Input.grad_key",
            "param_key.$": "$$.Execution.Input.param_key",
            "ec2_ip.$": "$$.Execution.Input.ec2_ip",
            "port.$": "$$.Execution.Input.port",
            "password.$": "$$.Execution.Input.password",
            "username.$": "$$.Execution.Input.username",
            "path_key.$": "$$.Execution.Input.path_key",
            "epoch.$": "$$.Execution.Input.epoch"
          },
        "End": True
        }
    }
}
